albumentations==1.1.0
black==23.3.0
deepface==0.0.79
rembg==2.0.32
seaborn==0.12.2
timm==0.6.13
torchsampler==0.1.2
torchsummary==1.5.1
wandb==0.14.2
torch==1.7.1
torchvision==0.8.2
pandas~=1.2.0
scikit-learn~=0.24.1
matplotlib==3.5.1
numpy~=1.23.5
python-dotenv~=0.16.0
Pillow~=7.2.0
sklearn~=0.0